doctype 5
html
	head
		title APOWEDSMIXU
		script(src="/js/jquery.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/web.js")
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.back
			div(style='left: 40%;position: absolute;top:7%;')
				img(src="")#p
			img(src="/pics/layout.png")#back
